# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/build_1.01
/build_1.02
/build_1.03
/build_1.04
/build_1.05
/build_1.06
/build_1.07

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# folders
/public

npm-debug.log*
yarn-debug.log*
yarn-error.log*
