.splash-logo {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    transform: translateY(125px);
    opacity: 0;
}

.splash-logo object {
    max-width: 700px;
    max-height: auto;
    background-color: rgba(175, 175, 175, 0.3);
    border-radius: 15px;
    margin: auto;
    width: 50%;
}