/** Google Fonts Import (Indie Flower & DynaPuff)*/
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Poppins:wght@300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.header-nav {
  font-family: 'DynaPuff', cursive;
  background-color: rgba(112, 140, 138, 0.1);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  -webkit-box-shadow: 0px 7px 15px -8px #708C8A;
  box-shadow: 0px 7px 15px -8px #708C8A;
}

button {
  border-radius: 7px !important;
  background-color: rgb(39, 170, 225) !important;
}

.dl-dev-logo {
  max-width: 125px;
  height: auto;
}