/** Google Fonts Import (Indie Flower & DynaPuff)*/
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Poppins:wght@300&display=swap');


/** Global Styles */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

h2 {
    font-family: 'DynaPuff', cursive;
    font-size: 1.5rem;
    text-shadow: rgb(187, 208, 250) 3px 5px 2px;
    margin-top: 1.5rem;
}

hr {
    margin: 0 auto;
    margin-top: 40px;
    width: 95%;
    border: 0;
    height: 0.1em;
    background-image: linear-gradient(to right, rgba(195, 195, 195, 0), rgb(187, 208, 250), rgba(195, 195, 195, 0));
}


.main-container {
    background-image: url(../src/images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    font-family: 'DynaPuff', cursive;
    border-radius: 3px !important;
    background-color: #27aae1 !important;
    width: 100px;
}

.button:hover {
    background-color: rgb(187, 208, 250) !important;
    color: #000000;
}

/** Header Styles */

.header-nav {
    font-family: 'DynaPuff', cursive;
    background-color: rgba(112, 140, 138, 0.1);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2.5rem;
    -webkit-box-shadow: 0px 7px 15px -8px #708C8A;
    box-shadow: 0px 7px 15px -8px #708C8A;
}

.logo {
    padding-left: 1rem;
}

.dl-dev-logo {
    width: 125px;
    max-width: 125px;
    height: auto;
}

/** Footer Styles */

footer {
    background-color: rgba(112, 140, 138, 0.1);
    -webkit-box-shadow: 0px -5px 15px -8px #708C8A;
    box-shadow: 0px -5px 15px -8px #708C8A;
    margin-top: 2.5rem;
    padding-top: 1.5rem;
}

.social-media a {
    margin-left: 1rem;
    color: #27aae1;
    font-size: 2rem;
}

.social-media a:hover {
    color: rgb(187, 208, 250) !important;
}

.email-link a {
    color: #27aae1;
    font-size: 1.5rem;
}

.email-link a:hover {
    color: rgb(187, 208, 250) !important;
}

/** Home Page Styles */

.about-header {
    font-variant: small-caps;
    font-size: 2.5rem;
}

.about-section-text {
    background: rgba(238, 236, 236, 0.5);
    padding: 1rem;
    border-top-left-radius: 130px 25px;
    border-top-right-radius: 25px 130px;
    border-bottom-left-radius: 155px 30px;
    border-bottom-right-radius: 30px 155px;
    -webkit-box-shadow: 0px 10px 30px #708C8A;
    box-shadow: 0px 10px 30px #708C8A;
}

.work-icon {
    width: 65%;
    border-radius: 10%;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 9px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 9px 5px rgba(0, 0, 0, 0);
}

.author-img {
    width: 75%;
    max-width: 100%;
    height: auto;
    border-top-left-radius: 130px 25px;
    border-top-right-radius: 25px 130px;
    border-bottom-left-radius: 30px 155px;
    border-bottom-right-radius: 155px 30px;
    -webkit-box-shadow: 0px 10px 30px #708C8A;
    box-shadow: 0px 10px 30px #708C8A;
}


/** Work Page Styles */

.slick-slide>div {
    margin: 0 50px;
}

.slick-list {
    margin: 0 -50px;
}


.proj-card-wrapper {
    margin: 2rem;
}

.collab-header-container {
    border-left: rgb(187, 208, 250) solid 0.3em;
}

.collab-proj-header {
    font-size: 3.2rem;
    writing-mode: tb-rl;
}

.collab-content-container {
    background: rgba(238, 236, 236, 0.5);
    padding: 1rem;
    border-top-left-radius: 130px 25px;
    border-top-right-radius: 25px 130px;
    border-bottom-left-radius: 155px 30px;
    border-bottom-right-radius: 30px 155px;
    -webkit-box-shadow: 0px 10px 30px #708C8A;
    box-shadow: 0px 10px 30px #708C8A;
}

.collab-content-container .rmg-img-1 {
    margin: 1.2rem;
    border-top-left-radius: 130px 25px;
    border-top-right-radius: 125px 120px;
    border-bottom-left-radius: 155px 30px;
    border-bottom-right-radius: 130px 155px;
    -webkit-box-shadow: 0px 10px 30px #708C8A;
    box-shadow: 0px 10px 30px #708C8A;
}

.collab-content-container .rmg-img-2 {
    margin: 1.2rem;
    border-top-left-radius: 125px 120px;
    border-top-right-radius: 130px 25px;
    border-bottom-left-radius: 130px 155px;
    border-bottom-right-radius: 155px 30px;
    -webkit-box-shadow: 0px 10px 30px #708C8A;
    box-shadow: 0px 10px 30px #708C8A;
}

.collab-content-container p {
    margin: 1rem;
}

.button.collab-button {
    width: 95%;
    margin: 15px 15px 15px 15px;
}

/** Personal projects */

.per-proj-header {
    font-size: 3.2rem;
    margin-top: 3rem;
}

.proj-card {
    box-shadow: 0px 0px 20px 2px rgba(112, 140, 138, 0.75);
    -webkit-box-shadow: 0px 0px 20px 2px rgba(112, 140, 138, 0.75);
    -moz-box-shadow: 0px 0px 20px 2px rgba(112, 140, 138, 0.75);
    border-radius: 15px;
    max-width: 400px;
    min-height: 525px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.card-main>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-top: 10px;
    padding-bottom: 20px;
}

.card-main>p {
    padding-left: 10px;
    padding-right: 10px;
}

.card-top {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    padding: 15px;
}

.card-btm {
    padding: 10px;
}

.button.proj-button {
    width: 95%;
    margin: 0.5rem;
}

/*! * Media Queries */

@media screen and (max-width: 844px) {

    /* Mobile Home page styles */
    .author-img-container {
        margin-top: -4rem;
        z-index: 1;
    }

    .author-img {
        max-width: 50%;
        transform: translate(155px, 50px);
    }

    .work-cta {
        padding-bottom: 1rem;
    }

    /* Mobile Work page styles */
    .collab-proj-header {
        font-size: 30px;
        writing-mode: horizontal-tb;
        border-bottom: rgb(187, 208, 250) solid 0.1em;
        margin-bottom: 2rem;
    }

    .collab-header-container {
        border: none;
    }

    .per-proj-header {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }

    /* Mobile Footer styles */
    footer p {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 1rem
    }

    footer .email-link {
        margin-left: 0.5rem;
        margin-bottom: 0.5rem;
    }
}